/* fichier d'import des composants Sass (variables, fonts, style etc...) */
* {
  font-family: "Roboto", "shrikhand", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__fleche {
  position: absolute;
  left: 20px;
  color: #353535;
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  box-shadow: inset 0 3px 3px #D0D0D0;
  padding: 15px 0 15px 20px;
}
.localisation__icone {
  font-size: 17px;
  color: #353535;
}
.localisation__info {
  padding-left: 12px;
  height: 20px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  background-color: #eaeaea;
}
.localisation__info:focus {
  outline: none;
}
.localisation__info::placeholder {
  color: black;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 60px 0;
}
.presentation__titre {
  text-align: center;
  width: 70%;
}
.presentation__sous-titre {
  color: #656565;
  text-align: center;
  width: 85%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.presentation__bouton {
  background: linear-gradient(to bottom, #FF79DA, 40%, #9356DC);
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 7px 1px #ebebeb;
}
.presentation__bouton:hover {
  background: linear-gradient(to bottom, #FF79DA, 65%, #9356DC);
  box-shadow: 5px 5px 7px 1px #c4c2c2;
  transition: box-shadow 0.5s;
}
.presentation__bouton-titre {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 500;
}

.fonctionnement {
  padding: 20px 0 40px 0;
  background-color: white;
}
.fonctionnement__titre {
  padding-left: 20px;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 0 20px 20px 30px;
  padding: 35px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 7px 5px #ebebeb;
}
.fonctionnement__card-titre {
  font-weight: 500;
  position: absolute;
  left: 100px;
}
.fonctionnement__card-numero {
  font-size: 15px;
  position: absolute;
  left: 20px;
  text-align: center;
  color: white;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
}
.fonctionnement__card-icone {
  position: absolute;
  left: 65px;
  color: #7e7e7e;
  font-size: 18px;
}
.fonctionnement__card--colored {
  background-color: #f5edff;
}
.fonctionnement__card--colored-icone {
  color: #9356DC;
}

.restaurants {
  padding: 20px;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurants__lien {
  text-decoration: none;
}
.restaurants__lien:visited {
  color: black;
}
.restaurants__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px #D0D0D0;
}
.restaurants__card--new {
  position: absolute;
  right: 40px;
  margin-top: 10px;
  color: #008766;
  font-size: 13px;
  font-weight: 500;
  padding: 7px 10px 5px 10px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}
.restaurants__card-image {
  width: 100%;
  height: 150px;
}
.restaurants__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurants__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.restaurants__card-info-texte {
  padding-left: 10px;
}
.restaurants__card-info-texte-titre {
  font-size: 17px;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}
.restaurants__card-info-texte-p {
  font-size: 15px;
  font-weight: 300;
  padding-top: 3px;
}
.restaurants__card-info-icone {
  font-size: 20px;
  position: absolute;
  right: 41px;
}
.restaurants__card-info-icone:hover {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity;
}
.restaurants__card-info-icone--full {
  padding-right: 20px;
  font-size: 20px;
  opacity: 0;
}
.restaurants__card-info-icone--full:hover {
  font-size: 20px;
  background: linear-gradient(to bottom, #FF79DA, 40%, #9356DC);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 600ms ease-in-out;
}
.restaurants__card-info-icone--full:hover:hover {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: center;
}

footer {
  background-color: #353535;
  padding: 20px;
}

.footer__logo {
  width: 90px;
  padding-bottom: 10px;
}
.footer__section {
  padding-bottom: 5px;
}
.footer__section--icone {
  display: flex;
  align-items: baseline;
  color: white;
}
.footer__section--icone-titre {
  padding-left: 5px;
  color: white;
  font-size: 15px;
  padding-bottom: 5px;
  text-decoration: none;
}
.footer__section--icone-titre:visited {
  color: white;
}
.footer__section--icone-fork {
  font-size: 12px;
}
.footer__section--icone-hand {
  font-size: 9px;
}
.footer__section-titre {
  color: white;
  font-size: 15px;
  padding-bottom: 5px;
  text-decoration: none;
}
.footer__section-titre:visited {
  color: white;
}

.site {
  opacity: 1;
  animation: visible 3s linear;
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: invisible 3s linear;
}
@keyframes invisible {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lettre {
  font-size: 1.2rem;
  letter-spacing: 1.2rem;
  animation: big 2.8s ease-in-out;
  font-family: "shrikhand";
}
@keyframes big {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(2) rotate(360deg);
  }
  75% {
    transform: scale(2) rotate(360deg);
  }
}

.purple {
  color: #9356DC;
}

.rose {
  color: #FF79DA;
}

.green {
  color: #99E2D0;
}

/* .un {
    animation: escalier 3s linear;

    @keyframes escalier {
        0% {
            transform: scale(3);
        }
        25% {
            transform: scale(2);
        }
        100% {
            transform: scale(1)
        }
    }
}

.deux {
    animation: escalier 3s linear;

    @keyframes escalier {
        0% {
            transform: scale(2.8);
        }
        25% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1)
        }
    }
} */
header a:visited {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.menu-background__image {
  z-index: 1;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.menu {
  padding: 40px 20px 0 0;
  position: relative;
  top: -50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  z-index: 3;
}
.menu__header {
  padding: 0 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__header-titre {
  font-family: "shrikhand";
  font-weight: lighter;
  font-size: 25px;
  padding-left: 20px;
}
.menu__header-icone {
  position: absolute;
  right: 40px;
  font-size: 20px;
}
.menu__header-icone:hover {
  opacity: 0;
  transition-duration: 500ms;
}
.menu__header-icone--full {
  font-size: 20px;
  background: linear-gradient(to bottom, #FF79DA, 40%, #9356DC);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 600ms ease-in-out;
}
.menu__header-icone--full:hover {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: center;
}
.menu__card-titre {
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 0 20px 20px;
}
.menu__card-titre::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.menu__card-item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  box-shadow: 5px 5px 7px 1px #ebebeb;
  margin: 0 0 20px 15px;
}
.menu__card-item-texte {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
}
.menu__card-item-texte h3 {
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 5px;
}
.menu__card-item-texte p {
  font-size: 15px;
  font-weight: 100;
}
.menu__card-item-prix {
  padding: 12px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  padding-right: 10px;
  transition: all 600ms;
}
.menu__card-item--anim {
  height: 66px;
  width: 0%;
  position: absolute;
  right: 20px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 600ms;
}
.menu__card-item--anim-check {
  font-size: 22px;
  color: white;
  opacity: 0;
  transition: all 600ms;
}
.menu__card-item:hover .menu__card-item-prix {
  margin-right: 80px;
}
.menu__card-item:hover .menu__card-item--anim {
  opacity: 1;
  width: 20%;
}
.menu__card-item:hover .menu__card-item--anim-check {
  opacity: 1;
  transform: rotate(360deg);
}
.menu__card--entree {
  animation: fadein 800ms;
  transition: transform 800ms;
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.menu__card--plat {
  animation: fadein 1.6s;
  transition: transform 1.6s;
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.menu__card--dessert {
  animation: fadein 2s;
  transition: transform 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.menu__bouton {
  background: linear-gradient(to bottom, #FF79DA, 40%, #9356DC);
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 7px 1px #ebebeb;
  padding: 15px 40px;
}
.menu__bouton-cadre {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.menu__bouton:hover {
  background: linear-gradient(to bottom, #FF79DA, 65%, #9356DC);
  box-shadow: 5px 5px 7px 1px #c4c2c2;
  transition: box-shadow 0.5s;
}
.menu__bouton-titre {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
