// import des fichiers complémentaires 
@import "../utils/variables";
@import "../utils/mixin";


// gestion de la partie localisation 
.localisation {
    background-color: #EAEAEA;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset 0 3px 3px #D0D0D0;
    padding: 15px 0 15px 20px;
    
    &__icone {
        font-size: 17px;
        color: #353535;
    }
    &__info {
        padding-left: 12px;
        height: 20px;
        font-size: 15px;
        font-weight: 400;
        border: none;
        background-color: #eaeaea;

        &:focus {
            outline: none;
        }
        &::placeholder {
            color: black;
        }
    }
}
// gestion de la presentation 
.presentation {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 60px 0;

    &__titre {
        text-align: center;
        width: 70%;
    }

    &__sous-titre {
        color: #656565;
        text-align: center;
        width: 80%;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    &__bouton {

        @include bouton-style;

        &-titre {

            @include bouton-titre;
        }
    }
}
// gestion de la partie fonctionnement 
.fonctionnement {
    padding: 20px 0;

    &__card {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        margin: 0 20px 20px 30px;
        padding: 35px 0;
        border-radius: 20px;
        box-shadow: 5px 5px 7px 5px #ebebeb;

        &-titre {
            font-weight: 500;
            position: absolute;
            left: 100px;
        }
        &-numero {
            font-size: 15px;
            position: absolute;
            left: 20px;
            text-align: center;
            color: white;
            background-color: $color-primary;
            padding: 5px 10px;
            border-radius: 50%;
        }

        &-icone {
            position: absolute;
            left: 65px;
            color: #7e7e7e;
            font-size: 18px;
        }
        &--colored {
            background-color: #f5edff;

            &-icone {
                color: $color-primary;
            }
        }
    }
}
// gestion du style des cards restaurants 
.restaurants {
    padding: 20px;
    background-color: #f6f6f6;
    padding-bottom: 30px;

    &__lien {
        text-decoration: none;

        &:visited {
            color: black;
        }
    }
    &__card {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 2px 10px  #D0D0D0;

        &-image {
            width: 100%;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            &-texte {
                padding-left: 10px;

                &-titre {
                    font-size: 17px;
                    font-weight: 500;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
                &-p {
                    font-size: 15px;
                    font-weight: 300;
                    padding-top: 3px;
                }
            }
            &-icone {
                font-size: 20px;
                position: absolute;
                right: 41px;

                &:hover {
                    opacity: 0;
                    transition-duration: 500ms;
                    transition-property: opacity;
                }

                &--full {
                    padding-right: 20px;
                    font-size: 20px;
                    opacity: 0;

                    &:hover {

                        @include heart-like;
                    }
                }
            }
        }
    }
}
// gestion du style du footer 
footer {
    background-color: #353535;
    padding: 20px;
}

.footer {

        &__logo {
            width: 90px;
            padding-bottom: 10px;
        }
        &__section {

            &--icone {
                display: flex;
                align-items: baseline;
                color: white;

                &-titre {
                    padding-left: 5px;

                    @include footer-titre;
                }
                &-fork {
                    font-size: 12px;
                }
                &-hand {
                    font-size: 9px;
                }
            }

            &-titre {

                @include footer-titre;
        }
    }
}
//gestion du loader 

.site {
    opacity: 1;
    animation: visible 3s linear;

    @keyframes visible {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 1s;
        }
    }
}
.loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: invisible 3s linear;

    @keyframes invisible {

        0% {
            opacity: 0;
        }
        1% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
} 

.lettre {
    display: block;
    font-size: 50px;
    letter-spacing: 50px;
    animation: big 2.8s ease-in-out;
    font-family: "shrikhand";

    @keyframes big {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(2);
        }
        50% {
            transform: scale(2) rotate(360deg);
        }
        75% {
            transform: scale(2) rotate(360deg);
        }
    }
}

.purple {
    color: $color-primary;
}

.rose {
    color: $color-secondary;
}

.green {
    color: $color-tertiary;
}