@import "../utils/variables";
@import "../utils/mixin";

// gestion du style du header 
header {

    a {

        &:visited {
            color: black;
        }
    }
}
// gestion du main 
main {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

// gestion de l'image du début du menu 
.menu-background {
    &__image {
        z-index: 1;
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}
// gestion de l'ensemble du menu 
.menu {
    padding: 40px 20px 0 0;
    position: relative;
    top: -50px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    z-index: 3;

    &__header {
        padding: 0 20px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-titre {
            font-family: "shrikhand";
            font-weight: lighter;
            font-size: 25px;
            padding-left: 20px;
        }

        &-icone {
            position: absolute;
            right: 40px;
            font-size: 20px;

            &:hover {
                opacity: 0;
                transition-duration: 500ms;
            }

            &--full {

                @include heart-like;
            }
        }
    }

    &__card {

        &-titre {
            text-transform: uppercase;
            font-weight: 300;
            padding: 10px 0 20px 20px;

            &::after {
                content: "";
                display: block;
                margin-top: 5px;
                width: 40px;
                height: 3px;
                background: $color-tertiary;
            }
        }

        &-item {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-radius: 15px;
            padding: 12px;
            box-shadow: 5px 5px 7px 1px #ebebeb;
            margin: 0 0 20px 15px;

            &-texte {

                h3 {
                    padding-left: 0;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    font-size: 18px;
                    font-weight: 400;
                    padding-bottom: 5px;
                }

                p {
                    font-size: 15px;
                    font-weight: 100;
                }
            }

            &-prix {
                font-size: 15px;
                font-weight: bold;
                padding-right: 10px;
            }
        }
        &--entree {

            @include animation-menu(1s);
        }
        &--plat {

            @include animation-menu(2s);
        }
        &--dessert {

            @include animation-menu(3s);
        }
    }

    &__bouton {

        &-cadre {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-bottom: 20px
        }

        @include bouton-style;
        padding: 15px 40px;

        &-titre {

            @include bouton-titre;
        }
    }
}