@import "../utils/mixin";
@import "../utils/variables";

// C'est ici que se modifient les media queries (breakpoint gérés dans un mixin) 

@include desktop {
    // partie accueil 
    .fonctionnement {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__card {
            width: 50%;
        }
    }
    // partie cards 
    .menu {
        &__card {
            &-item {
                &--anim {
                    right: -71px;
                }
            }
            &-all {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

@include mini-mobile {
    .menu {
        &__card {

            &-item {
                &-texte {
                    h3 {
                        width: 180px;
                    }
                }
                &:hover {
                    .menu__card-item-texte h3 {
                        width: 150px;
                    }
            }
            }
        }
    }
}
