@import "../utils/variables";

@mixin footer-titre {
    color: white;
    font-size: 15px;
    padding-bottom: 5px;
    text-decoration: none;

    &:visited {
        color: white;
    }
}

@mixin bouton-style {
    background: linear-gradient(to bottom, $color-secondary, 40%, $color-primary);
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        box-shadow: 5px 5px 7px 1px #ebebeb;

        &:hover {
            background: linear-gradient(to bottom, $color-secondary, 65%, $color-primary);
            box-shadow: 5px 5px 7px 1px #c4c2c2;
            transition: box-shadow 0.5s;
        }
}

@mixin bouton-titre {
    color: white;
            margin-block-start: 0;
            margin-block-end: 0;
            font-weight: 500;
}

@mixin animation-menu($time) {

    animation: fadein $time;
            transition: transform $time;

            @keyframes fadein {
                from {
                    opacity: 0;
                    margin-top: 30px;
                }
                to {
                    opacity: 1;
                    margin-top: 0;
                }
            }
}

// mixin de création de l'animation du bouton like 
@mixin heart-like {
    font-size: 20px;
    background: linear-gradient(to bottom, $color-secondary, 40%, $color-primary);
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 600ms ease-in-out;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
        transform-origin: center;
    }
}

// mixin de création du surlignage de "entrées"... 

@mixin menu-underline {
    display: block;
                content: "";
                margin-top: 5px;
                background: $color-tertiary;
}

// media queries 

@mixin mini-mobile {
    @media all and (max-width: map-get($breakpoint , mini-mobile)) {
        @content;
    }
}

@mixin tablet {
    @media all and (min-width: map-get($breakpoint , tablet)) and (max-width: map-get($breakpoint, desktop )) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width: map-get($breakpoint , desktop)) {
        @content;
    }
}